@font-face {
    font-family: 'Nord Book';
    src: url('../../assets/Fonts/nord-font/Web Fonts/Nord-Book.eot');
    src: url('../../assets/Fonts/nord-font/Web Fonts/Nord-BookItalic.eot') format('embedded-opentype'),
        url('../../assets/Fonts/nord-font/Web Fonts/Nord-Book.woff2') format('woff2'),
        url('../../assets/Fonts/nord-font/Web Fonts/Nord-Book.woff') format('woff'),
        url('../../assets/Fonts/nord-font/Web Fonts/Nord-Book.ttf') format('truetype'),
        url('../../assets/Fonts/nord-font/Web Fonts/Nord-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nord';
    src: url('../../assets/Fonts/nord-font/Web Fonts/Nord-BoldItalic.eot');
    src: url('../../assets/Fonts/nord-font/Web Fonts/Nord-BoldItalic.eot') format('embedded-opentype'),
        url('../../assets/Fonts/nord-font/Web Fonts/Nord-BoldItalic.woff2') format('woff2'),
        url('../../assets/Fonts/nord-font/Web Fonts/Nord-BoldItalic.woff') format('woff'),
        url('../../assets/Fonts/nord-font/Web Fonts/Nord-BoldItalic.ttf') format('truetype'),
        url('../../assets/Fonts/nord-font/Web Fonts/Nord-BoldItalic.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
	font-family: 'Oskari G2';
	src: url(‘../assets/Fonts/oskari-g2-regular/oskari-g2-regular.otf’) format(‘truetype’);
}

.osk {
    font-family: 'Osakari';
}

.lex {
    font-family: 'Lexend';
}

.nord {
    font-family: 'Nord';
    
}
.nord-book {
    font-family: 'Nord Book';
    
}



html {
    height: 100%;
}
nav {
    height: 75px;
    background-color: black;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 50px;
}